#######
# latex temporary files
#######

*.out
*.blg
*.synctex.gz
*.log
*.aux
*.fdb_latexmk
*.toc
.DS_Store
*.fls

#######
# data temporary files
#######

*.pkl
*.mat
*.eps
*.pdf

#######
# python package building
#######

.ipynb_checkpoints
*.pyc
MANIFEST
pub.sh
setup.cfg
setup.py
upload.sh
LICENSE

#######
# system
#######

.DS_Store

#######
# user specified
#######

README
docs/_build/
dist/
build/
guitarHarmony.egg-info



